*{
    padding: 0;
    margin:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    
}
.top{
    height:100vh;
    width:100%;
    background-image: url(image/background.jpg);
    background-size: cover;
    background-position: center;
}
.logo{
    background-color:black;
}
nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}  
nav ul li {
    list-style-type:none;
    display:inline-block;
    padding-top: 10px;
    padding-right: 25px;
}
nav ul li a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color:rgb(0, 255, 42);
    transition: .4s;
}
.button{
    background-color:red;
    color:white;
    text-decoration: none;
    border:2px solid transparent;
    font-weight:bold;
    padding: 10px 25px;
    border-radius:30px;
    transition: transform .4s;
}
.button:hover{transform:scale(1.2);}
.me{
  width: 45%;
  height: 80%;
  position: absolute;
  bottom:0;
  right:100px;
}
.aboutcontainer {
    margin-left: 8%;
    margin-top:250px;
   
}
.aboutcontainer h1{
    font-size: 60px;
    margin-bottom:20px;
}

.me img{
    height: 80%;
    border-radius: 8px;
    position:absolute;
    left:60%;
    bottom: 20px;;
    transform:translateX(-50%);
    
}


/*-----------education details-------*/
.edu{ height:100vh;
    width:100%;
    background-image:url(image/my2.jpg);
    background-size: cover;
    background-position: center;
    
}
.details{
    width:80%;
    border-radius: 20px;
    margin-top: 200px;
    margin-left:200px;
    text-align: left;
   padding: 10px 10px 10px 10px ;
    background-image: url(image/background.jpg);
    background-size: cover;
    background-position: cover;
    
}


.window{
    border-radius:50px;
    overflow: hidden;
}
/*-----------skills-------*/
.skill{
    height:100vh;
    width:100%;
    background-image:url(image/my2.jpg);
    background-size: cover;
    background-position: center;
    width:100%;
    margin:auto;
    text-align: left;
    
}
.sdetail{
    width: 80%;
    margin:auto;
    text-align:left;
    padding-top:100px;
    
}
/*-----------Experience-------*/
.exp{
    height:100vh;
    width:100%;
    background-image:url(image/my2.jpg);
    background-size: cover;
    background-position: center;
    
}
.expdetails{
    width: 80%;
    margin:auto;
    text-align:left;
    padding-top:100px;
}
/*-----------project-------*/
.pro{
    height:100vh;
    width:100%;
    background-image:url(image/my2.jpg);
    background-size: cover;
    background-position: center;
   
}
.prodetails{
    width: 80%;
    margin:auto;
    text-align:left;
    padding-top:100px;
}
/*-----------eca-------*/
.eta{
    height:100vh;
    width:100%;
    background-image:url(image/my2.jpg);
    background-size: cover;
    background-position: center;  
}
.etadetail{
    width: 80%;
    margin:auto;
    text-align:left;
    padding-top:100px;
}
/*-----------footer-------*/
.contactfooter{
    
    text-align:center;
    width:100%;
    height:50%;
    background-color:gray}
@media only screen and (max-width:700px){
    .logo{
        display:none
    }
    nav ul{
        width:100%;
        background:rgb(243, 239, 239);
        position:absolute;
        top:0px;
       right:0;
        

    }
    nav ul li{
       display:block;
       margin: top 10px;
       margin-bottom: 10px; 
    }
   .button{
    margin-top:250px;
    text-align: left;
    font-size: 12px;
   }
    .top{
        flex-direction: column;
        width:60%;
        background-image: none;
        
    }
    .aboutcontainer{
        text-align: left;
        width:60%;
        font-size: 10px;
        
        
        }
        .aboutcontainer h1{
            
        font-size: 15px;
            }
    .shape{
        display: none;
    }
    .me{
        height:50%;
        width:20%
    }
    .details{
        text-align: left;
        background-image: none;
        font-size:10px
        
    }
    .edu{
        margin-right:10px;

    }
    .research{
        font-size:10px;
    }
    .skill{
        font-size:10px;
    }
   .exp{
    font-size:10px;
   }
   .pro{
    font-size:10px;
   }
   .eta{
    font-size:10px;
   }
   .footercontainer{
    font-size:10px;
   }
}